.authentication-button {
  display: flex;
  align-items: center;
  width: clamp(0px, 100%, 212px);
  border: 1px solid rgb(168, 168, 168);
  padding: 6px 12px 8px 16px;
  border-radius: 999px;
  color: rgba(41, 41, 41, 1);
  line-height: 20px;
  font-size: 14px;
  text-align: left;
}

.authentication-button > i {
  font-size: 25px;
}
