/* .authentication-page {
  display: grid;
  place-items: center;
  height: 100%;
}

.authentication-heading {
  color: rgba(8, 8, 8, 1);
  margin-bottom: 50px;
}

.authentication-options {
  width: 212px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.authentication-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redirect-link {
  margin-top: 40px;
}

.redirect-link b {
  color: green;
  font-size: 16px;
  line-height: 24px;
} */
