/* .authentication-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.authentication-form button[type="submit"] {
  line-height: 20px;
  font-size: 15px;
  padding: 7px 16px 9px;
  width: 100%;
}

.toggle-password-visible {
  position: absolute;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  transition: 0.27s;
  min-width: 18.13px;
}

.password-container .input:hover .toggle-password-visible {
  opacity: 1;
}

.authentication-form button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;
} */
