.button-with-icon {
  display: flex;
  align-items: center;
  gap: 12.5px;
  font-size: 15px;
  color: rgb(41, 41, 41);
  line-height: 20px;
  text-align: left;
}

.button-with-icon > i {
  font-size: 18px;
}
