.button-with-icon {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14.2px;
  color: rgb(41, 41, 41);
  line-height: 20px;
  text-align: left;
}

.button-with-icon > i {
  font-size: 18px;
}
