.button-with-icon {
  padding: 9px 12px 10px 20px;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 999px;
}

.button-with-icon-content {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14.2px;
  color: rgb(41, 41, 41);
  line-height: 20px;
  text-align: left;
}

.button-with-icon-content > i {
  font-size: 18px;
}
