/* header {
  background-color: var(--homepage-main-color);
  padding: 25px 18px;
  border-bottom: solid 1px rgb(41, 41, 41);
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  max-width: 1192px;
  flex-grow: 1;
} */
