.hero {
  background-color: var(--homepage-main-color);
  display: flex;
  justify-content: center;
}

.hero-content {
  flex-grow: 1;
  padding: 25px 18px;
  max-width: 1250px;
}

.hero-text {
  font-size: 95px;
  letter-spacing: -0.05em;
  margin-bottom: 16px;
}

.hero-subtext {
  color: rgba(41, 41, 41, 1);
  font-weight: 400;
  font-size: 24px;
  max-width: 420px;
  margin-bottom: 50px;
}

.start-reading {
  width: 213px;
  padding: 7px 20px 9px;
  line-height: 24px;
  font-size: 20px;
  background-color: rgb(25, 25, 25);
  border: 1px solid rgb(25, 25, 25);
  color: white;
  border-radius: 999px;
}
