* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: gt-super;
  src: url("../fonts/GT-Super/GT-Super-Text-Book-Trial.otf");
}

@font-face {
  font-family: sohne;
  src: url("../fonts/söhne/TestSöhne-Buch.otf");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --homepage-main-color: #ffc017;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.serif {
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: -0.03em;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background: none;
}

/* Apply color to google icon */
.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
