.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 28px;
  color: rgb(41, 41, 41);
}

.input-container.error {
  color: var(--error-color);
}

.input-container label {
  font-size: 13.2px;
  line-height: 20px;
  text-align: center;
  color: inherit;
}

.input-container input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(168, 168, 168);
  width: 270px;
  font: inherit;
  text-align: center;
  transition: border-color 0.3s;
  color: rgb(41, 41, 41);
  padding-bottom: 3px;
}

.input-container .input {
  position: relative;
}

.input-container input:hover {
  border-color: rgb(117, 117, 117);
}

.input-container input:focus {
  border-color: rgb(41, 41, 41);
}

.input-container.error input {
  border-bottom-color: var(--error-color);
  animation: 0.4s shake;
}

.error-text {
  font-size: 13px;
  min-height: 17px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
