@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.35);
  }

  100% {
    transform: scale(1);
  }
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden auto;
  animation: 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 normal forwards running
    opacity;
}

.modal-content {
  border-radius: 4px;
  background-color: white;
  padding: 44px 56px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
  position: relative;
  animation: 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 normal forwards running
      opacity,
    300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 normal forwards running scale;
}

.close-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(117, 117, 117, 0.6);
  font-size: 24px;
}
