@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.35);
  }

  100% {
    transform: scale(1);
  }
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden auto;
  animation: 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 normal forwards running
    opacity;
}

.modal-content {
  border-radius: 4px;
  background-color: white;
  padding: 44px 56px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 10px;
  position: relative;
  animation: 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 normal forwards running
      opacity,
    300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 normal forwards running scale;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: clamp(0px, calc(100% - 36px), 678px);
  height: clamp(0px, calc(100% - 24px), 695px);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 12px;
  color: rgb(75, 75, 75);
  font-size: 24px;
  transition: 0.3s;
}

.close-modal:hover {
  color: rgb(0, 0, 0);
}
