.spinner-icon {
  width: 24px;
  height: 24px;
  border: solid 3px transparent;
  border-top-color: #3b82f6;
  border-left-color: #3b82f6;
  border-radius: 50%;
  animation: loading-bar-spinner 1.1s linear infinite;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
