.loading-container {
  position: absolute;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
  border-radius: inherit;
}

.loading-container.loading {
  display: flex;
}

#loading-bar-spinner.spinner {
  animation: loading-bar-spinner 1s linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 40px;
  height: 40px;
  border: solid 4px transparent;
  border-top-color: #3b82f6;
  border-left-color: #3b82f6;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
