@tailwind base;

@layer base {
  @font-face {
    font-family: gt-super;
    src: url("./fonts/GT-Super/GT-Super-Text-Book-Trial.otf");
  }

  @font-face {
    font-family: sohne;
    src: url("./fonts/söhne/TestSöhne-Buch.otf");
  }

  @font-face {
    font-family: sohne-bold;
    src: url("./fonts/söhne/TestSöhne-Dreiviertelfett.otf");
  }
  /* Apply color to google icon */
  .fa-google {
    background: conic-gradient(
        from -45deg,
        #ea4335 110deg,
        #4285f4 90deg 180deg,
        #34a853 180deg 270deg,
        #fbbc05 270deg
      )
      73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .fa-square-facebook {
    color: #3b5998;
    background-image: linear-gradient(
      to bottom,
      transparent 20%,
      white 20%,
      white 93%,
      transparent 93%
    );
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
  }

  .fa-twitter {
    color: #1da1f2;
  }

  .thin-icon {
    -webkit-text-stroke: 2px white;
  }
}

@tailwind components;
@tailwind utilities;
