@tailwind base;

@layer base {
  @font-face {
    font-family: gt-super;
    src: url("./fonts/gt-super-400-normal.woff");
  }

  @font-face {
    font-family: sohne;
    src: url("./fonts/sohne-400-normal.woff");
  }

  @font-face {
    font-family: sohne-bold;
    src: url("./fonts/sohne-700-normal.woff");
  }

  @font-face {
    font-family: fell;
    src: url("./fonts/fell-400-normal.woff");
  }

  @font-face {
    font-family: content-font;
    src: url("./fonts/content-font.woff");
  }

  html,
  body,
  #root {
    height: 100%;
  }

  #root {
    display: flex;
    flex-direction: column;
  }

  .markdown > * {
    all: revert;
  }

  /* Apply color to google icon */
  .fa-google {
    background: conic-gradient(
        from -45deg,
        #ea4335 110deg,
        #4285f4 90deg 180deg,
        #34a853 180deg 270deg,
        #fbbc05 270deg
      )
      73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .thin-icon:before {
    -webkit-text-stroke: 0.3px white;
  }

  .thinner-icon:before {
    -webkit-text-stroke: 1px white;
  }

  .thinnest-icon:before {
    -webkit-text-stroke: 2px white;
  }
}

@tailwind components;
@tailwind utilities;
